body{
    padding: 5px;
    height: 680px;
}


#logoZone{
    position: absolute;
    float: left;
    border-radius: 10px;
    width: 25%;
    padding-left: 10px;
}

#cpnvLogo {
    width: 65%;
}

#avionLogo{
    width: 20%;
    margin-left: 10%;
}

#raccourciZone{
    position: absolute;
    left: 30%;
    height: 15%;
    width: 70%;
}

#menuZone{

}

div {

    border: solid 1px black;
}
