<<<<<<< HEAD


html, body {
    height: 100%;
    margin: 0;
    width: 100%;
=======
body{
    padding: 5px;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 72da5e513de73e596ac19cc97062f8ed519288da
=======
>>>>>>> 72da5e513de73e596ac19cc97062f8ed519288da
=======
>>>>>>> 72da5e513de73e596ac19cc97062f8ed519288da
}

nav {
    padding-top: 20px;

}

#logoZone{
    position: absolute;
    border-radius: 10px;
    width: 25%;
    height: 10%;
    padding-left: 10px;
}

#cpnvLogo {

    width: 65%;
}

#avionLogo{
    margin-left: 10%;
    width: 20%;
}

#raccourciZone{
    position: absolute;
    left: 30%;
    right: 2%;
    height: 10%;
    width: 68%;
}

#menuZone{
    position: absolute;
    top: 13%;
    right: 0%;
    height: 10%;
    width: 98%;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

=======
=======
>>>>>>> 72da5e513de73e596ac19cc97062f8ed519288da
=======
>>>>>>> 72da5e513de73e596ac19cc97062f8ed519288da
div {
    border: solid 1px black;
}
>>>>>>> 72da5e513de73e596ac19cc97062f8ed519288da
